if currentUser
  .project-subsection
    form(action='/blog/' + post.slug).flex.center.pad
      a.btn(data-click="modal" data-target="edit-blog" href='/blog/' + post.slug + '/edit') Edit Post
      button.btn(formmethod="delete") Delete Post
.content
  if !post.archived || currentUser && currentUser.admin
    section.project(class=post.archived&&'obscured'||'').flex.horz.row.as.js
      .flex.vert.grow
        .project-subsection
          .flex.horz
            a.project-title(href='/blog/' + post.slug data-click="tab" data-target="main")
              h1= post.title
            .flex.grow.je.center
              label.timestamp(data-time=post.updatedAt.getTime())
        .project-subsection
          .flex.horz
            .flex.vert
              .project-detail by #{post.User.name}
              if post.Project
                .project-detail for #[a(href='/portfolio/' + post.Project.url data-click="tab" data-target="main")= post.Project.title]
                .project-detail in #[a(href='/portfolio?category=' + post.Project.category data-click="tab" data-target="main")= post.Project.category]
        .project-subsection.markdown
          if post.body
            != post.$body


  .flex.vert(class=currentUser&&'drop-area')
    if post.Images
      .flex.center.pad
        each image in post.Images
          include ../images/preview-image

    if currentUser
      form(action=action + '/images' method="POST" enctype="multipart/form-data" data-response="json").flex.center.pad.grow.drop-target
        label.btn
          span Select Files
          input(type="file" name="files" accept="image/*" multiple)
        button.btn Upload
        //- pre= JSON.stringify(post,null,'  ')
      
