if !post.archived || currentUser && currentUser.admin
  section.project(class=post.archived&&'obscured'||'').flex.horz.row.as.js
    if post.Images && post.Images.length > 0
        .project-image.flex.vert
          a(href=action + '/' + post.slug  data-click="tab" data-target="main")
            img.preview-photo(src=post.Images[0].path)
          if post.Images.length > 1
            .flex.center: label.project-detail #{post.Images.length} Images
    .flex.vert.grow
      .project-subsection
        .flex.horz
          a.project-title(href="/blog/" + post.slug data-click="tab" data-target="main")
            h2= post.title
          .flex.grow.je.center
            label.timestamp(data-time=post.updatedAt.getTime())
      .project-subsection
        .flex.horz
          .flex.vert
            .project-detail by #{post.User.name}
            if post.Project
              .project-detail for #[a(href="/portfolio/" + post.Project.url data-click="tab" data-target="main")= post.Project.title]
              .project-detail in #[a(href="/portfolio?category=" + post.Project.category data-click="tab" data-target="main")= post.Project.category]
      .project-subsection.markdown(class=post.truncated&&'truncated'||'')
        if post.body
          != markdown(post.body_preview)
      if post.truncated
        a(href=action + '/' + post.slug data-click="tab" data-target="main") See More

      //- pre= JSON.stringify(post,null,'  ')
    
      if currentUser
        .project-subsection
            .flex.grow.vert: .flex.horz
              form(action='/blog/' + post.slug).flex.center.pad
                a.btn(data-click="modal" data-target="edit-blog" href='/blog/' + post.slug + '/edit') Edit Post
                button.btn(formmethod="delete") Delete Post
