if !post.archived || currentUser && currentUser.admin
  section.panel(class=post.archived&&'obscured'||'')
    .panel-content
      .panel-header
        a.panel-title(href=action + '/' + post.slug data-click="tab" data-target="main")
          h2= post.title
        label.timestamp(data-time=post.updatedAt.getTime())
      .panel-details
        .panel-detail by #[a(href=post.User.url data-click="tab" data-target="main")= post.User.name]
        if post.Project
          .panel-detail for #[a(href="/portfolio/" + post.Project.url data-click="tab" data-target="main")= post.Project.title]
          .panel-detail in #[a(href="/portfolio?category=" + post.Project.category data-click="tab" data-target="main")= post.Project.category]
      if currentUser
        form(action='/blog/' + post.slug).panel-actions
          a.btn.panel-action(data-click="modal" data-target="edit-blog" href='/blog/' + post.slug + '/edit' title="Edit Post") #[i.fa.fa-wrench] Edit
          button.btn.panel-action(formmethod="delete" title="Delete Post") #[i.fa.fa-trash] Delete
      hr
      if post.Images && post.Images.length > 0
        .preview-image-container
          a(href=action + '/' + post.slug  data-click="tab" data-target="main")
            img.preview-image(src=post.Images[0].path)
          if post.Images.length > 1
              label.preview-image-overlay.preview-image-label #{post.Images.length} Images
      .panel-body.truncate
        if post.body
          .truncated.markdown: != post.$body_preview
    .panel-actions
      a.panel-action(href=action + '/' + post.slug data-click="tab" data-target="main") See More
        //- .flex.horz
          if post.User.Images.length
            img.preview-photo(src=post.User.Images[0].path)
          .flex.vert
            
