.modal-dialog
  .modal-content
    if post
      .modal-title Update Blog Post
    else
      .modal-title New Blog Post
    if post
      .modal-body
        .flex.vert.drop-area
          .flex.center.pad
            if post.Images
              each image in post.Images
                .flex.vert.border(data-kind="Image" data-ref=image.id)
                  a(href=action + '/images/' + image.id data-click="modal" data-target="image-"+image.id draggable="false")
                    img(src=image.path draggable="false").photo-upload
                  .flex.pad.distribute
                    a.close(href=action + '/images/' + image.id + '/edit' data-response="modal"): i.fa.fa-wrench
                    form(action=action +  '/images/' + image.id method="delete" data-response="json" data-reaction="remove")
                      button.close(title="Delete Photo"): i.fa.fa-trash
          form(action=action + '/images' method="POST" enctype="multipart/form-data" data-response="json").flex.center.pad.grow.drop-target
            label.btn
              span Select Files
              input(type="file" name="files" accept="image/*" multiple)
            button.btn Upload
    .modal-body 
      form(name='blog' action=action method=post&&'patch'||'post')
        .flex.vert.pad
          .flex.vert
            input.form-input(name='title' placeholder="Post Title" value=post&&post.title required)

          .flex.vert
            textarea.form-input(name='body')= post&&post.body||''

          .flex.vert.center
            label.checkbox
              input(type="checkbox" name="archived" checked=project&&project.archived value="true" default="false")
              span Archived
            

        button.btn.block(type='submit')= post && 'Update Blog Post' || 'Add Blog Post'

