if !project.archived || currentUser && currentUser.admin
  .project(class=project.archived&&'obscured'||'')
    h2= project.title
    label(data-time=project.updatedAt.getTime())
    label= project.status
    p.copy= project.description
    pre= JSON.stringify(project, null, '  ')
    if project.BlogPosts.length > 0
      a(href="/portfolio/" + project.url + "/blog") See All Blog Posts

    
    if currentUser
      .flex.vert.drop-area
        .flex.center.pad
          each image in project.Images
            .flex.vert.border(data-kind="Image" data-ref=image.id)
              a(href='/images/' + image.id data-click="modal" data-target="image-"+image.id draggable="false")
                img(src=image.path draggable="false").photo-upload
              .flex.pad.distribute
                a.close(href="/portfolio/" + project.url + '/images/' + image.id + '/edit' data-response="modal"): i.fa.fa-wrench
                form(action="/portfolio/" + project.url + '/images/' + image.id method="delete" data-response="json" data-reaction="remove")
                  button.close(title="Delete Photo"): i.fa.fa-trash
        form(action="/portfolio/" + project.url + '/images' method="POST" enctype="multipart/form-data" data-response="json" data-reaction="redirect").flex.center.pad.grow.drop-target
          label.btn
            span Select Files
            input(type="file" name="files" accept="image/*" multiple)
          button.btn Upload

      form.flex.center.pad
        a.btn(data-click="modal" data-target="edit-project" href="/portfolio/" + project.url +"/blog/new") Add Blog
        a.btn(data-click="modal" data-target="edit-project" href="/portfolio/" + project.url +"/edit") Edit Project
        button.btn(formaction="/portfolio/" + project.url formmethod="delete") Delete Project
