.modal-dialog
  .modal-content
    if project
      .modal-title Update Project
    else
      .modal-title New Project
    if project
      .modal-body
        .flex.vert.drop-area
          .flex.center.pad
            if project.Images
              each image in project.Images
                include ../images/preview-image
                //- .flex.vert.border(data-kind="Image" data-ref=image.id)
                  a(href=action + '/images/' + image.id data-click="modal" data-target="image-"+image.id draggable="false")
                    img(src=image.path draggable="false").photo-upload
                  .flex.pad.distribute
                    a.close(href=action + '/images/' + image.id + '/edit' data-response="modal"): i.fa.fa-wrench
                    form(action=action +  '/images/' + image.id method="delete" data-response="json" data-reaction="remove")
                      button.close(title="Delete Photo"): i.fa.fa-trash
          form(action="/portfolio/" + project.url + '/images' method="POST" enctype="multipart/form-data" data-response="json").flex.center.pad.grow.drop-target
            label.btn
              span Select Files
              input(type="file" name="files" accept="image/*" multiple)
            button.btn Upload
    .modal-body 
      form(name='project' action='/portfolio/'+(project&&project.url||'') method=project&&'patch'||'post')
        .flex.vert.pad
          .flex.vert
            input.form-input(name='title' placeholder="Project Title" value=project&&project.title required)

          .flex.vert
            input.form-input(name='url' placeholder="URL" pattern="^[a-zA-Z0-9_-]+$" value=project&&project.url  required)

          .flex.vert
            input.form-input(name='category' placeholder="Category" value=project&&project.category required)

          .flex.vert
            select.form-input(name="status")
              option(value="planning" selected=project&&project.status=="planning") Planning
              option(value="in-progress" selected=project&&project.status=="in-progress") In-Progress
              option(value="suspended" selected=project&&project.status=="suspended") Suspended
              option(value="abandoned" selected=project&&project.status=="abandoned") Abandoned
              option(value="finished" selected=project&&project.status=="finished") Finished
          .flex.vert
            textarea.form-input(name='description')= project&&project.description||''

          .flex.vert.center
            label.checkbox
              input(type="checkbox" name="archived" checked=project&&project.archived value="true" default="false")
              span Archived
        button.btn.block(type='submit')= project && 'Update Project' || 'Add Project'
        


